<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="NetworkInterface" value="eth0" />
        <add key="Shell" value="/bin/bash" />
        <add key="OnNetDownCommand" value="/sbin/shutdown -P -t +0" />
        <add key="OnErrorCommand" value="/sbin/shutdown -P -t +1" />
        <add key="RetryInterval" value="00:00:10.000" />
        <add key="RetryTimes" value="10" />
        <add key="LogFile" value="/root/log.txt" />
    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
